*{
	padding: 0;
	margin: 0;

}
body{
	/* background-color: #194660; */
	overflow-x: hidden;
	overflow-y: overlay;
}
body img{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
main{
	margin: 110px auto 900px;
}
ul,li{
	list-style: none;
}
::selection {
    background:rgba(156, 187, 211, 1); 
    color:#ffffff;
}
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-thumb {
    background: rgba(168, 168, 168, 0.5);
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover{
    background: rgba(218, 218, 218, 0.5);
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:active{
    background: rgba(255, 255, 255, 0.5);
    border-radius: 4px;
}
::-webkit-scrollbar-track {
   /* background-color: transparent; */
}
.beijing1{
	z-index: -999;
	width: 100vw;
	height: 100vh;
	position: fixed;
	/* top: -4%; */
	background: url(../img/bg1.jpg);
	background-size: cover;
	background-position: center;
}
.beijing2{
	z-index: -999;
	width: 100vw;
	height: 780px;
	position: absolute;
	top: 530px;
}
.beijing2::before{
	content: '';
	display: block;
	position: absolute;
	z-index: -2;
	width: 1200px;
	height: 115%;
	left: 50%;
	right: 50%;
	top: 450px;
	transform: translate(-50.5%,-50%);
	background:#1e272e;
	/* opacity: .5; */
}
.clear::after{
	content: '';
	display: block;
	clear: both;
}
header{
	position:relative;
}
header .top{
	z-index: 1;
	position: relative;
	width: 100vw;
	height: 100px;
}
header .top .logo{
	display: block;
	position: absolute;
	left: 50px;
	top: 0px;
	text-decoration:none;
}
header .top img{
	display: block;
	width: 400px;
	transition: .5s;
}
/*导航栏*/
nav{
	position: relative;
	top: 30px;
	z-index: 100;
}
nav .nav-0-a{
	position: relative;
	display: block;
	font-size: 14px;
	padding:8px 20px;
	color: #d1d9dd;
	text-decoration: none;
	/* text-shadow: -1px -1px 0px #4b4b4b; */
}
nav .nav-0 li{
	/* transition: .05s linear; */
}
nav .nav-0 li:hover{
	background: #d2dde5;
	text-shadow:none;
	border-radius: 1px;
}
nav .nav-0 li:hover .nav-0-a{
	/* text-shadow:none; */
	color: #000000;
}
nav .nav-0-a::after{
	content: '';
	top:0;
	right:0;
	position: absolute;
	display: block;
	height: 35px;
	border-left: 1px solid rgba(76, 89, 115, .3);
}
nav .nav-0{
	margin: 0 auto;
	width: 1000px;
	background: rgba(30, 39, 46, .6);
	display: flex;
	backdrop-filter: blur(5px);
	justify-content: start;
	/* box-shadow: 0 0 6px 1px #495670; */
	/* border-radius: 1px; */
	position: relative;
}
nav .nav-1{
	position: absolute;
	z-index: 100;
	width: 120px;
	padding: 8px 5px;
	background: rgba(210, 221, 229, 1);
	box-shadow: 1px 1px 5px #000000;
	display: none;
}
nav .nav-1-a{
	color: #000000;
	text-decoration: none;
	display: block;
	height: 40px;
	padding-left: 10px;
	line-height: 40px;
	font-size: 13px;
	width: 110px;
}
nav .nav-1-a:hover{
	color: white;
	background-color: #0C161F;
}
.bottom::after{
	content: '';
	position: relative;
	top:2px;
	left:8px;
	display: inline-block;
	width: 0;
	height: 0;
	border: 4px solid transparent;
	border-top-color: #ffffff;
	box-shadow: 0px -1px 0px #4b4b4b;
}
.box{
	background-image: none;
	background-color: #404c63;
	border-radius: 3px;
	border: 1px solid rgba( 0, 0, 0, 0.3);
	box-shadow: 1px 1px 0px rgba( 255, 255, 255, 0.2);
	margin-bottom: 0px;
	outline: none;
	height: 26px;
	position: absolute;
	top: 3px;
	right: 3px;
	transition: .1s;
}
.search_text{
	font-size: 14px;
	font-family: "Motiva Sans", Sans-serif;
	font-weight: 300;
	border: none;
	background-color: transparent;
	color: #FFFFFF;
	padding: 1px 6px;
	width: 200px;
	outline: none;
	line-height: 25px;
	transition: .1s;
	border-radius: 3px;
}
.search_text::-webkit-input-placeholder{
	color: #000000;
	font-style: italic;
	text-shadow: 1px 1px 0px rgba( 255, 255, 255, 0.1);
	transition: .2s;
}
.search_text:focus::-webkit-input-placeholder{
	color: transparent;
	text-shadow:1px 1px 0px rgba( 255, 255, 255, 0);
}
.search{
	position: absolute;
	right: 1px;
	top: 1px;
	border: none;
	width: 25px;
	height: 25px;
	padding: 5px 3px 3px 5px;
	border-radius: 2px;
	background-color: #5a6b8c;
	cursor: pointer;
	outline: none;
	transition: .2s;
	font-family: "iconfont";
	color: white;
}
.search:hover{
	background-color: #62779a;
}
.box:focus-within{
	/* border: 1px solid rgba( 50, 255, 255, 0.1); */
	box-shadow: 0px 0px 8px #96b2e7;
}
/*轮换*/
section{
	position: relative;
	top: -10px;
}
section ol li,ul li{
	float: left;
	list-style: none;
}
.section-img{
	display: block;
	box-shadow: 0px 0px 10px rgba(0,0,0,.5);
}
.scroll-wrap{
	width: 1100px;
	box-shadow: 0 0 5px #0E1C25;
	margin:13vh auto 4vh;
	position: relative;
	/* border-radius: 5px; */
}
.scroll-wrap::before{
	content: '保护地球, 探索宇宙, 发现文明';
	font-family: "Motiva Sans", Sans-serif;
	letter-spacing: 2px;
	font-size: .8em;
	position: absolute;
	top: -25px;
	left: 2px;
	z-index: 10;
	color: white;
}
.scoller{
	width: 1100px;
	height: 600px;
	overflow: hidden;
	position: relative;
	/* border-radius: 5px; */
}
.scoller ul{
	width: 1100px;
	height: 600px;
	position: absolute;
	background: #0c161f;
	left:0;
	top:0;
}
.scoller ul li a::after{
	position: absolute;
	bottom: 0;
	left: 130px;
	z-index: 999;
	letter-spacing: 2px;
	height: 50px;
	line-height: 50px;
	display: block;
	color: #fff;
	font-size: 18px;
	text-shadow: 1px 1px 5px #000000;
}
.scoller ul li:nth-child(1) a::after{
	content: '长征八号运载火箭首次飞行试验取得圆满成功';
}
.scoller ul li:nth-child(2) a::after{
	content: '长征五号火箭成功发射嫦娥五号探测器';
}
.scoller ul li:nth-child(3) a::after{
	content: '嫦娥五号上升器进入预定轨道 实现我国首次地外天体起飞';
}
.scoller ul li:nth-child(4) a::after{
	content: 'NASA将召开火星样本返回任务媒体电话会议';
}
.scoller ul li:nth-child(5) a::after{
	content: '类星体像海啸一样撕裂星系';
}
.scoller ul li:nth-child(6) a::after{
	content: '土星与木星的大近合';
}
.scoller ul li:nth-child(7) a::after{
	content: '火山上空的大近合';
}
.scoller ul li{
	position: absolute;
	z-index: 1;
	width:1100px;
	display: none;
}
.scoller ul li::after{
	content: '';
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	filter: blur(15px);
}
.scoller ul li:nth-child(1)::after{
		background: url(../img/01.jpg);
		background-size: cover;
}
.scoller ul li:nth-child(2)::after{
		background: url(../img/02.jpg);
		background-size: cover;
}
.scoller ul li:nth-child(3)::after{
		background: url(../img/03.jpg);
		background-size: cover;
}
.scoller ul li:nth-child(4)::after{
		background: url(../img/04.jpg);
		background-size: cover;
}
.scoller ul li:nth-child(5)::after{
		background: url(../img/05.jpg);
		background-size: cover;
}
.scoller ul li:nth-child(6)::after{
		background: url(../img/06.jpg);
		background-size: cover;
}
.scoller ul li:nth-child(7)::after{
		background: url(../img/07.jpg);
		background-size: cover;
}
.scoller img{
	position: relative;
	z-index: 10;
	display: block;
	width: 880px;
	height: 600px;
	margin: 0 auto;
}
.scroll-wrap span{
	/* border-radius: 5px; */
	z-index: 10;
	position: absolute;
	left:-55px;
	top:250px;
	width:52px;
	height: 100px;
	cursor: pointer;
	display: block;
	background: linear-gradient(90deg,rgba(0,0,0,.5),transparent);
}
.scroll-wrap span.arrow_right{
	right:-55px;
	left:auto;
	background: linear-gradient(270deg,rgba(0,0,0,.5),transparent);
}
.scroll-wrap span:hover{
	background:  linear-gradient(90deg,rgba(255,255,255,.5),transparent);
}
.scroll-wrap span.arrow_right:hover{
	background: linear-gradient(270deg,rgba(255,255,255,.5),transparent);
}
.scroll-wrap span::before{
	position: absolute;
	top: 38px;
	left: 15px;
	content: '';
	display: block;
	width: 15px;
	height: 15px;
	transform: rotate(-45deg);
	border: 5px solid #fff;
	border-right: none;
	border-bottom: none;
}
.scroll-wrap span.arrow_right::before{
	transform: rotate(135deg);
	right: 15px;
}
.scroll-wrap ol{
	position: absolute;
	left: 42%;
	z-index: 10;
	margin:15px auto;
	height:13px;
	width: 300px;
}
.scroll-wrap ol li{
	width: 9px;
	height:9px;
	margin:0px 3px;
	border-radius: 5px;
	cursor: pointer;
	right:10px;
	text-indent: -99999em;
	background: rgba(255,255,255,.2);
	/* box-shadow: 0px 0px 5px #6a919a; */
	transition: .3s linear
}
.scroll-wrap ol li:hover{
	background: rgba(255,255,255,.3);
}
.scroll-wrap ol li.on{
	width: 25px;
	background: rgba(131, 206, 255, 0.6);
}
.sale-zght{
	position: relative;
	background-color: #1e272e;
	width: 1200px;
	height: 870px;
	margin: 0 auto;	
	top: 10px;
}
/* .sale-zght::after{
	content: '';
	z-index: -1;
	display: block;
	position: absolute;
	top: 10px;
	width: 1200px;
	height: 870px;
	left: 50%;
	right: 50%;
	transform: translate(-50.5%,0%);
	background:#1e272e;
} */
.sale .aside{
	margin: 10px auto;
	position: relative;
	transform: translate(405px,50px);
	width: 310px;
}
.aside-iframe{
	margin: 0 auto;
	position: relative;
	/* transform: translate(935px,50px); */
	border: none;
	width: 320px;
	height: 720px;
}
.aside-img{
	width: 300px;
	margin-bottom: 10px;
}
.aside-p{
	color: #d5d5d5;
	letter-spacing: 2px;
	margin-bottom: 10px;
	font-size: 14px;
	text-indent: 2em;
	width: 300px;
}
.aside-center{
	color: #cfcfcf;
	margin: 0px 0 10px;
	font-size: 13px;
}
.aside-h2{
	color: #fff;	
	width: 300px;
	margin: 10px 0;
	font-weight: 100;
	text-align: center;
}
.sale .aside li a{
	display: block;
	font-family: 'iconfont';
	width: 240px;
	height: 80px;
	margin: 0 0 30px;
	font-size: 17px;
	background-color:rgba(56, 73, 86, 1.0);
	line-height: 80px;
	padding-left: 20px;
	position: relative;
	cursor: pointer;
	/* border-radius: 5px; */
	transition: .5s ;
	color: #fff;
	box-shadow: 1px 1px 5px #090e14;
	text-decoration: none;
}
.sale .aside li a:hover{
	background-color:rgba(51, 67, 79, 1.0);
	transform: scale(1.05);
	box-shadow: 1px 1px 8px #090e14;
}
.sale .game{
	margin: 10px auto;
	position: relative;
	left: -100px;
	width: 800px;
}
.sale .game .ul1{
	position: absolute;
	z-index: -5;
	top: -40px;
	height: 30px;
	font-family: 'iconfont';
}
.sale-game-ul1{
	position: absolute;
	top: -35px !important;
}
.sale-ul1-li{
	position: relative;
	z-index: -2;
	color: #c2cad0;
	padding: 0px 30px 8px 20px;
	height: 0px;
	line-height: 50px;
	font-size: 15px;
	cursor: pointer;
	text-shadow: 1px 1px 0px #000000;
	/* background: #34495e; */
	margin: 0 -17px;
	border-radius: 2px 2px 0 0;
	transform: translateY(-10px);
	transition: .5s;
	border-right: 60px solid transparent;
	border-bottom: 60px solid rgba(52, 73, 94, .9);
}
.cur{
	/* background: #2c3e50; */
	color: #ffffff !important;
	transform: translateY(-20px);
	height: 0px;
	position: relative;
	z-index: -1;
	transition: .5s;
	border-right: 60px solid transparent;
	border-bottom: 60px solid rgba(47, 62, 74, 1.0);
}
.sale .ul1 li:hover{
	color: #ffffff;
	border-right: 60px solid transparent;
	border-bottom: 60px solid rgba(39, 52, 62, 1);
}
.sale .d0,.sale .d1,
.sale .d2,.sale .d3{
	position: absolute;
	top: 50px;
	width: 820px;
	left: -10%;
}
.sale .d0-li,.sale .d1-li,
.sale .d2-li,.sale .d3-li{
	position: relative;
	width: 240px;
	height: 155px;
	margin: 0 15px 30px 15px;
	/* border-radius: 5px; */
	overflow: hidden;
	box-shadow: 1px 1px 5px #141b22;
}
.sale .d0-li::after,.sale .d1-li::after,
.sale .d2-li::after,.sale .d3-li::after{
	content: '';
	position: absolute;
	bottom: -50px;
	left: 0;
	width: 100%;
	height: 50px;
	background: rgba(0,0,0,.5);
	transition: .5s ;
	color: #fff;
	display: block;
	text-align: center;
	line-height: 50px;
	font-size: 15px;
	font-weight: bold;
	/* cursor: pointer; */
}
.sale .d0-li:nth-child(1)::after{
	content: '“快舟”一号固体运载火箭';
}
.sale .d0-li:nth-child(2)::after{
	content: '长征十一号（CZ-11）';
}
.sale .d0-li:nth-child(3)::after{
	content: '长征七号';
}
.sale .d0-li:nth-child(4)::after{
	content: '长征六号';
}
.sale .d0-li:nth-child(5)::after{
	content: '长征五号（CZ-5）';
}
.sale .d0-li:nth-child(6)::after{
	content: '长征四号丙（CZ-4C）';
}
.sale .d0-li:nth-child(7)::after{
	content: '长征四号乙（CZ-4B）';
}
.sale .d0-li:nth-child(8)::after{
	content: '长征三号丙运载火箭（CZ-3C）';
}
.sale .d0-li:nth-child(9)::after{
	content: '长征三号乙（CZ-3B）';
}
.sale .d0-li:nth-child(10)::after{
	content: '长征三号甲（CZ-3A）';
}
.sale .d0-li:nth-child(11)::after{
	content: '长征二号F（CZ-2F）';
}
.sale .d0-li:nth-child(12)::after{
	content: '长征二号丁（CZ-2D）';
}
.sale .d0-li2:nth-child(1)::after{
	content: '长征二号丙（CZ-2C）';
}
.sale .d0-li2:nth-child(2)::after{
	content: '长征三号';
}
.sale .d0-li2:nth-child(3)::after{
	content: '长征二号E（长二捆）';
}
.sale .d0-li2:nth-child(4)::after{
	content: '长征二号';
}
.sale .d0-li2:nth-child(5)::after{
	content: '长征一号';
}
.sale .d1-li:nth-child(1)::after{
	content: '科学与探测卫星';
}
.sale .d1-li:nth-child(2)::after{
	content: '技术试验卫星';
}
.sale .d1-li:nth-child(3)::after{
	content: '导航定位卫星';
}
.sale .d1-li:nth-child(4)::after{
	content: '高分辨率对地观测系统';
}
.sale .d1-li:nth-child(5)::after{
	content: '对地观测卫星';
}
.sale .d1-li:nth-child(6)::after{
	content: '通信广播卫星';
}
.sale .d2-li:nth-child(1)::after{
	content: '天宫一号';
}
.sale .d2-li:nth-child(2)::after{
	content: '天宫二号';
}
.sale .d2-li:nth-child(3)::after{
	content: '嫦娥一号探测器';
}
.sale .d2-li:nth-child(4)::after{
	content: '嫦娥二号探测器';
}
.sale .d2-li:nth-child(5)::after{
	content: '嫦娥三号探测器';
}
.sale .d3-li:nth-child(1)::after{
	content: '神舟一号';
}
.sale .d3-li:nth-child(2)::after{
	content: '神舟二号';
}
.sale .d3-li:nth-child(3)::after{
	content: '神舟三号';
}
.sale .d3-li:nth-child(4)::after{
	content: '神舟四号';
}
.sale .d3-li:nth-child(5)::after{
	content: '神舟五号';
}
.sale .d3-li:nth-child(6)::after{
	content: '神舟六号';
}
.sale .d3-li:nth-child(7)::after{
	content: '神舟七号';
}
.sale .d3-li:nth-child(8)::after{
	content: '神舟八号';
}
.sale .d3-li:nth-child(9)::after{
	content: '神舟九号';
}
.sale .d3-li:nth-child(10)::after{
	content: '神舟十号';
}
.sale .d3-li:nth-child(11)::after{
	content: '天舟一号';
}
.sale .d3-li:nth-child(12)::after{
	content: '神舟十一号';
}
.sale .d0-li:hover:after,.sale .d1-li:hover:after,
.sale .d2-li:hover:after,.sale .d3-li:hover:after{
	transform: translateY(-50px);
}
.sale-img{
	display: block;
	margin: 0px auto;
	width: 100%;
	height: 100%;
	transform: scale(1.05);
	transition: .5s;
}
.sale .game li:hover .sale-img{
	transform: scale(1.2);
}
@font-face {
  font-family: 'iconfont';
  src: url('../font/iconfont.eot');
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
      url('../font/iconfont.woff2') format('woff2'),
      url('../font/iconfont.woff') format('woff'),
      url('../font/iconfont.ttf') format('truetype'),
      url('../font/iconfont.svg#iconfont') format('svg');
}
.index{
	min-width: 100%;
	height: 640px;
	background-color:rgba(245, 245, 245, 1.0);
	padding: 20px 0px 20px 0px;
	box-sizing: border-box;
	position: relative;
	top: 80px;
	box-shadow: 1px 1px 5px #000;
	/* border-radius: 5px; */
}
.index-juz{
	width: 1150px;
	margin: 20px auto;
}
.index h1 a{
	position: relative;
	color: #005d8c;
	text-decoration: none;
}
.index h1 a::after{
	content: '';
	display: block;
	position: absolute;
	left: 0px;
	right: 0;
	bottom: -10px;
	border-bottom: 5px solid #0b97ea;
}
.index h1{
	font-weight: 700;
	font-size: 28px;
	font-family: '黑体';
	margin: 40px 10px 20px 15px;
	padding:5px 0;
	border-bottom: 1px solid #ddd;
}
.index .xx:first-child h1{
	margin: 10px 10px 20px 15px;
}
.index h4{
	width: 350px;
	font-weight: 100;
	padding:10px 20px;
	font-size: 16px;
}
.index-p{
	font-size: 13px;
	padding: 5px 20px;
	width: 340px;
	color: dimgray;
	transition: .1s;
}
.index-p:hover{
	color: #424242;
}
.index-p a{
	color: #626461;
	text-decoration: none;
}
.index-p:hover a{
	color: #000000;
}
.index .ul3{
	position: absolute;
	transform: translate(430px,-190px);
	width: 360px;
	font-size: 15px;
}
.index .ul3 li{
	padding:10px 15px 8px 18px;
	background: url(../img/li.png) no-repeat;
	background-position:0px 19px;
}
.index .ul3 li a{
	text-decoration: none;
	color: #000000;
}
.index .ul4{
	width: 360px;
	margin-left:15px;
	float: left;
}
.index .ul4 li{
	padding:10px 15px 5px 18px;
	background: url(../img/li.png) no-repeat;
	background-position:0px 19px;
}
.index .ul4 li a{
	text-decoration: none;
	color: #000000;
	font-size: 14px;
}
.a-img1::after{
	content: '';
	position: absolute;
	top: 15px;
	right:-350px;
	display: block;
	background: url(../img/002.jpg) no-repeat center;
	background-size: cover;
	width: 320px;
	height: 180px;
	border-radius: 2px;
	transition: .2s linear;
}
.a-img2::after{
	content: '';
	position: absolute;
	top: 15px;
	right:-350px;
	display: block;
	background: url(../img/001.jpg) no-repeat center;
	background-size: cover;
	width: 320px;
	height: 180px;
	border-radius: 2px;
	transition: .2s linear;
}
/* .a-img1 img{
	position: absolute;
	width: 23%;
	left: 70%;
	bottom: 350px;
	transition: .5s;
	border-radius: 2px;
}
.a-img2 img{
	display: block;
	position: absolute;
	width: 23%;
	bottom: 55px;
	left: 70%;
	border-radius: 2px;
	transition: .2s linear;
} */
.a-img1:hover::after,.a-img2:hover::after{
	transform: translateY(-8px) scale(1.01);
	box-shadow: 1px 4px 10px 2px #CCC;
}
.wallpaper{
	position: absolute;
	left: 0;
	top: 640px;
	width: 100%;
	height: 980px;
	background:url(../img/bg3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	background-attachment: fixed;
}
.wallpaper h2{
	font-size: 50px;
	margin: 60px;
	text-align: center;
	color: transparent;
	font-family: "微软雅黑";
	-webkit-text-stroke: .5px #ffffff;
	letter-spacing: 20px;
}
.wallpaper-p{
	color: #fff;
	text-align: center;
	width: 100%;
	font-size: 15px;
}
.juz{
	margin: 0 auto;
	width: 1160px;
}
.wallpaper-div{
	width:1200px;
	display: flex;
	flex-wrap: wrap;
}
.wallpaper-div a{
	width: 21%;
	margin: 1.1%;
	border-radius: 20px;
	overflow: hidden;
	border: 2px solid rgba(204, 204, 204,.8);
	box-shadow: 1px 1px 5px #353535;
	transition: .8s;
}
.wallpaper-div a:hover{
	transform: scale(1.1);
}
.wallpaper-div a img{
	display: block;
	width: 100%;
}
.wallpaper-a{
	position: relative;
}
.wallpaper-a::after{
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 40px;
	text-align: center;
	transform: translateY(40px);
	background-color: rgba(0,0,0,.5);
	font-size: 15px;
	text-decoration: none;
	color: #fff;
	line-height: 40px;
	transition: .5s;
}
.wallpaper-a:hover:after{
	transform: translateY(0px);
}
.wallpaper-a:nth-child(1)::after{
	content: 'NASA航天飞机亚特兰蒂斯号精彩瞬间';
}
.wallpaper-a:nth-child(2)::after{
	content: 'NASA航天飞机亚特兰蒂斯号精彩瞬间';
}
.wallpaper-a:nth-child(3)::after{
	content: 'NASA航天飞机亚特兰蒂斯号精彩瞬间';
}
.wallpaper-a:nth-child(4)::after{
	content: 'NASA航天飞机亚特兰蒂斯号精彩瞬间';
}
.wallpaper-a:nth-child(5)::after{
	content: 'NASA航天飞机亚特兰蒂斯号精彩瞬间';
}
.wallpaper-a:nth-child(6)::after{
	content: 'NASA航天飞机亚特兰蒂斯号精彩瞬间';
}
.wallpaper-a:nth-child(7)::after{
	content: 'NASA航天飞机亚特兰蒂斯号精彩瞬间';
}
.wallpaper-a:nth-child(8)::after{
	content: 'NASA航天飞机亚特兰蒂斯号精彩瞬间';
}
.wallpaper-a:nth-child(9)::after{
	content: '联盟TMA-11飞船';
}
.wallpaper-a:nth-child(10)::after{
	content: 'NASA航天飞机亚特兰蒂斯号精彩瞬间';
}
.wallpaper-a:nth-child(11)::after{
	content: 'NASA航天飞机亚特兰蒂斯号精彩瞬间';
}
.wallpaper-a:nth-child(12)::after{
	content: 'NASA航天飞机亚特兰蒂斯号精彩瞬间';
}
.over{
	position: fixed;
	left:0; 
	top:0; 
	width:100%;
	z-index:100;
	transition: .2s linear;
	opacity: 0;
}
.tempContainer{
	position:fixed;
	width:100%;
	margin: 30px auto;
	text-align:center; 
	z-index:101;
	animation:suof .5s;
	transition: .5s;
}
.tempContainer img{
	border: 15px solid #fff;
	transition: .5s linear;
}
@keyframes suof{
	from{transform: scale(0.1);opacity:0;}
	to{transform: scale(1);opacity: 1;}
}
footer{
	position: absolute;
	font-family: 'iconfont';
	color: #fff;
	width: 100%;
	height: 250px;
	background: url(../img/footer.png);
	font-size: 25px;
}
.footer-hr{
	width: 1200px;
	margin: -10px auto;
}
.footer-div{
	margin: 30px auto;
	width: 800px;
	height: 160px;
	position: relative;
}
footer .ul5{
	width: 250px;
	position: absolute;
	left: 0;
}
footer .ul5 li{
	font-size: 17px;
	width: 250px;
	height: 40px;
	clear: both;
	line-height: 40px;
	transition: .8s ;
}
footer .ul5 li span{
	position: relative;
	font-size: 25px;
	top: 3px;
}
footer .ul5 li:hover{
	color: #ff8000;
}
footer .form1{
	width: 250px;
	position: absolute;
	right: 0;
	text-align: center;
}
footer .form1 input{
	border: 1px #fff solid;
	outline: none;
	padding: 5px;
	width: 230px;
	background-color: transparent;
	color: #fff;
	font-size: 18px;
	margin: 5px;
	text-align: center;
	transition: .2s linear;
}
footer .form1 input::placeholder{
	color: #fff;
	text-align: center;
}
footer .form1 input:focus{
	border-color: #0B97EA;
	box-shadow:inset 0px 0px 3px #FFF;
}

footer .form1 input[type=submit]{
	cursor: pointer;
	width: 242px;
	font-weight: bold;
	transition: .5s linear;
}
footer .form1 input[type=submit]:hover{
	background-color: rgba(255,255,255,.9);
	color: #ff340c;
}
.backtotop{
	position: fixed;
	z-index: 50;
	right: 50px;
	bottom: -80px;
	width: 50px;
	height: 50px;
	background:rgba(33, 47, 143,.6);
	transition: .5s linear;
	cursor: pointer;
}
.backtotop:hover{
	background: #002f61;
}
.backtotop::after{
	content: '';
	display: block;
	position: absolute;
	left: 14.2px;
	top: 20px;
	width: 18px;
	height: 18px;
	border: 4px solid #fff;
	border-left:none;
	border-bottom:none;
	transform: rotate(-45deg);
}
.footer-bottom{
	width: 100%;
	height: 50px;
	position: absolute;
	bottom: -2700px;
}
.nav-2{
	display: none;
}
@media screen and (max-width:960px) {
	::-webkit-scrollbar{
		display: none;
	}
	body{
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
    ul.nav-0{
		display: none;
	}
	.index-main{
		margin-top: 170px;
	}
	.beijing1{
		position: fixed;
		top: 0;
	}
	.top{
		position: fixed !important;
		top: 0;
		z-index: 99 !important;
		height: 70px !important;
		background-color: #171a21;
	}
	.header-menu{
		background:url(../img/header_menu.png) no-repeat;
		background-size: contain;
		display: block;
		position: absolute;
		z-index: 99;
		transform: translate(10px,18px);
		width: 40px;
		height: 40px;
		cursor: pointer;
	}
	.top img{
		position: absolute;
		width:200px !important;
		transform: translate(20%,-8%);
	}
	.nav-2{
		display: block;
		position: fixed;
		top: 0;
		z-index: 999 !important;
		width: 300px;
		height: 100vh;
		background-color: #171a21;
		transform: translateX(-310px);
		transition: .5s;
		font-size: 21px;
		color: #bfbfbf;
		font-weight: 200;
	}
	.nav-2-li{
		width: 300px;
		transition: .3s ease;
	}
	.nav-2-a{
		display: block;
		width: 300px;
		height: 60px;
		line-height: 60px;
		text-decoration: none;
		position: relative;
		cursor: pointer;
		text-indent: .8em;
	}
	.bottom2{
		display: block;
		position: absolute;
		top:25px;
		right:25px;
		width: 25px;
		height: 15px;
		background: url(../img/bottom.png) no-repeat;
		background-size: contain;
		transition: .2s;
	}
	.active{
		transform: rotate(180deg);
	}
	.active1{
		background:#192533;
		color:#fff;
	}
	.nav-2-a::after{
		content: '';
		display: block;
		position: absolute;
		left: 0;
		right: 0px;
		border-top: 1px solid #2f3138;
		border-bottom: 1px solid #000000;
	}
	.nav-3{
		display: none;
	}
	.nav-3 .nav-3-a{
		display: block;
		width: 270px;
		height: 40px;
		padding-left: 30px;
		line-height: 40px;
		font-size: 17px;
		text-decoration: none;
		color: #fff;
		position: relative;
	}
	.nav-3 li:last-child .nav-3-a::after{
		content: '';
		display: block;
		position: absolute;
		left: 0;
		right: 0px;
		border-top: 1px solid #2f3138;
		border-bottom: 1px solid #000000;
	}
	.zhezhao{
		position: fixed;
		top: 0;
		z-index: 66;
		width: 100vw;
		height: 100vh;
		background-color: rgba(0,0,0,.4);
		display: none;
	}
	.scroll-wrap{
		width: 400px !important;
		height: 240px !important;
		position: relative;
		top: -90px;
	}
	.scroll-wrap span{
		position: absolute;
		left: 0;
		top: 60px;
		background: transparent !important;
	}
	.scoller ul li a::after{
		transform: translateX(-100px);
		font-size: .9em;
	}
	.scroll-wrap ol{
		transform: translate(-10%,-200%);
	}
	.scroll-wrap ol li{
		background: rgba(255,255,255,.5);
	}
	.on{
		background: #fff !important;
	}
	.arrow_right{
		position: absolute;
		right: 10px !important;
	}
	.scoller{
		width: 400px !important;
		height: 240px !important;
	}
	.section-img{
		width: 100% !important;
		height: 100% !important;
	}
	.scoller ul{
		width: 400px !important;
		height: 240px !important;
	}
	.scoller ul li{
		width: 400px;
		height: 240px !important;
	}
	.index{
		width: 102vw !important;
		margin-top: -210px !important;
		height: 550px;
	}
	.index .xx:first-child h1{
		margin-top: -20px !important;
	}
	.index h1{
		margin-top: 10px;
		font-size: 1.5em !important;
	}
	.index-p{
		font-size: .7em;
	}
	.juz{
		width: 100vw;
		padding: 0 20px;
	}
	.wallpaper{
		width: 102vw;
		height: 150vh;
		margin-top: -90px;
		background-attachment: fixed !important;
	}
	.wallpaper-div{
		width: 100vw;
		margin-top: -30px;
	}
	.wallpaper-a{
		width: 40% !important;
		max-width: 200px;
		margin: 10px !important;
	}
	.wallpaper h2{
		margin-top: 40px;
		width: 65vw;
	}
	.wallpaper-a::after{
		font-size: .5em;
	}
	.tempContainer img{
		width: 80% !important;
	}
	footer{
		width: 102vw;
		padding:0 20px;
		margin-top: 230px;
	}
}
