.mryt .box2 {
	position: absolute;
	top: 200px;
	width: 80%;
	left: 8%;
}
.mryt .box2 .ul2 {
	width: 100%;
}
.mryt .box2 .ul2 li {
	position: absolute;
	margin: 2%;
	width: 31%;
	box-sizing: border-box;
	box-shadow: 1px 1px 5px #000000;
	transform: .5s;
	cursor: pointer;
	overflow: hidden;
}
.mryt .box2 .ul2 li span{
	position: absolute;
	width: 100%;
	padding: 15px 30px;
	box-sizing: border-box;
	font-size: 20px;
	font-weight: bold;
	z-index: 10;
	letter-spacing: 1px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	transition: .2s;
	cursor: text;
	font-size: 1.3em;
}
.mryt .box2 .ul2 li span:hover{
	color: #ce8460;
}
.mryt .box2 .ul2 li span::before{
	content: 'NASA·每日一图';
	display: block;
	font-size: .7em;
	margin: 5px 0;
	color: #ce8460;
	transition: .2s;
}
.mryt .box2 .ul2 li .tw::before{
	content: '天文·每日一图';
	display: block;
	font-size: .7em;
	margin: 5px 0;
	color: #ce8460;
	transition: .2s;
}
.mryt .box2 .ul2 li span:hover:before{
	color: black;
}
.mryt .box2 .ul2 li:hover img{
	transform: scale(1.08);
}
.mryt .box2 .ul2 li::after{
	content: '';
	display: block;
	height: 100px;
	background-color: #f0f0f0;
	/* opacity: .5; */
	position: relative;
	z-index: 1;
}
.mryt .box2 .ul2 li img {
	display: block;
	width: 100%;
	transition: .5s;
}
@media screen and (max-width:960px){
	.top{
		position: relative !important;
	}
	.box2{
		position: absolute;
		margin: -100px 0 !important;
	}
	.mryt .box2 .ul2 li span{
		padding: 5px !important;
		font-size: 10px !important;
	}
	.mryt .box2 .ul2 li span::before{
		font-size: 10px !important;
	}
	.mryt .box2 .ul2 li::after{
		height: 60px;
	}
	body{
		position: absolute;
		z-index: -999;
		height: 2200px !important;
	}
}
